
 /*Navegador*/

*{
    border: 1px solid red;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

 }
 
header{
    display: flex;
    padding-right:24px;
    padding-left: 24px;
    justify-content: space-between;
    height: 64px;
    margin: 0px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid #E9DAC1;
}
 .logo {
    display: flex;
    height: 32px;
    align-items: center;

}

.titleLogo{
    text-transform: uppercase;
    color: #9ED2C6;
    font-size: 32px;
}

.navegador{
    display: flex;
    list-style: none;
    list-style-position: inside;
    justify-content: right;
    text-decoration: none;    
}

.menuoption{
    padding-left: 16px;
}

.menuoption a, #starterbutton
{
    text-decoration: none;
    color: #9ED2C6;
    font-size: 16px;
}

.menuoption a:hover, #starterbutton:hover{
    font-size: 20px;
    text-decoration: underline;
}
/*Navegador mobil */
.navegadorMobil{
    display: none;
}
@media only screen and (min-width: 200px) and (max-width: 770px) {   

    .logo,
    .headerRight{
         display:none       
    }   
    .navegadorMobil{
        display:contents;
        justify-content: space-around;
    }
}

/*Contenido--Startmobile*/
@media only screen and (min-width: 200px) and (max-width: 770px) {   

    .start{
        display: flex;
        flex-direction: column;
    }
    .start img{
        display: none;

    }


}

/*Contenido--Start*/

.start{
    background-color:#E9DAC1;
    display: flex;
    padding: 32px 24px;
    justify-content: space-between;

}

.start img {
    width: 60%;
    padding-right: 24px;
}

.invitation{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#54BAB9
}
.inviTitle{
    font-size: 32px;
}

#starterbutton{
    border: 2px solid #54BAB9;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80%;
    font-weight: bold;
}



/*moreInfo ---- comments*/

.moreInfor{
    
    display: flex;
    border:2px solid #E9DAC1;
}
.comments{
    display: flex;
    flex-direction: column-reverse;
    width: 60%;
    padding: 32px 24px;
    border-right: 2px solid #E9DAC1;
}
.quotes{
    padding: 32px 0px;
    color: #54BAB9;
}

.quotes h1{
    font-weight: bolder;
}

.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: #54BAB9;
    padding-top: 32px;
}

.info{
    display: flex;
    flex-direction: column; 
    width: 100%; 
    justify-content: center;  
}
.infocontent{
    display: flex;
    background-color: #F7ECDE;
}
.infocontent:hover{
    background-color: #E9DAC1;
    cursor: pointer;
}


.sections img {
    width: 35%;
    padding: 16px;
}
.infotitle{
    margin: 0;
    font-weight: bolder;
}
.infodatelle{
    margin: 0px;
    padding: 8px 0px;
}
.infolinks{
    margin: 0px;
}
.infolinks a{
    font-size: 16px;
    color: #54BAB9;
}


/*learning Programs*/
.learningPrograms {
    background-color: #E9DAC1;
    padding: 32px 72px 32px 72px;
}

.lerningblocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.learningPrograms h1 {
    color: #54BAB9;
    font-size: 32px;
    text-align: center;
    width: 100%;
}

.program {
    width: 25%;
    text-align: center;
    background-color: #F7ECDE;
    margin: 15px;
}
.program:hover {
    cursor: pointer;
    border: 2px solid#54BAB9;
    text-align: center;
    background-color: #E9DAC1;
    margin: 15px;
    font-size: 18px;
}

.program img{
    width: 100%;
}
.programInfo{
    color: #54BAB9;
    padding: 16px 16px 24px 16px;    
}
.programInfo p{

    margin: 0px;
    padding-top: 8px;
}

.programTitle{
    margin: 0px;
 
}
/*thesis*/

.thesisblocks{
    display: flex;
    padding-left: 24px;
    padding-bottom: 32px;
    border-bottom: 2px solid #E9DAC1;
}
.thesisVideo{
    width: 60%;
}

.thesis h1{
    padding: 32px;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #54BAB9;

}

.thesisblocks video{
    width: 100%;

}
.thesissections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    color: #54BAB9;
}
.thesissections img {
    width: 35%;
    padding: 16px;
}
/*footer*/
.foot{
    
    display: flex;
    padding: 16px 24px 0px 24px;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    background-color: white;
    margin: 0px;
}

.termPolitics{
    display: flex;
    list-style: none;
    list-style-position: inside;
    justify-content: right;
    margin: 0px;
    text-decoration: none;
    
}
.termPolitics a {
    padding-left: 16px;
    
    text-decoration: none;
    color: black;
    
}
.termPolitics a:hover {
    font-size: 18px;
    color:gray;
    
}
